.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll !important;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
  padding: 20px;
  width: 800px;
}

.form-container label {
  margin-top: 10px;
}
.image-size{
  height: 360px;
  width: 100%;
}
.form-container input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 580px;
  box-sizing: border-box;
}

  

.form-container button {
  background-color: #0077FF;
  color: '#FFFFFF';
 
  margin:'15px';
  border-radius: '0.25rem';
  border: 'none';
  cursor: 'pointer';
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-container .text-danger {
  color: red;
  margin-top: 5px;
}